{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "baseUrl": "./src",
    "paths": {
      "#seedwork/*": ["./@seedwork/*"],
      "#expense/*": ["./expense/*"],
      "#team-member/*": ["./team-member/*"],
      "#supplier/*": ["./supplier/*"],
      "#team/*": ["./team/*"]
    }
  }
}
